.container {
  width: 842px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 62px 79px;
}
.title {
  margin: 0px;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.item {
  background-color: #e0e0e0;
  border-radius: 10px;
  width: calc((100% - 184px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.item:nth-child(3n + 3) {
  margin-right: 0px;
}
.item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.text {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 19px 30px;
  text-align: center;
}

.success {
  background-color: #43d190;
}
