button {
  border: none;
  outline: none;
}
h2 {
  text-align: left;
}
.span {
  color: #43d190;
}

.subscribe {
  margin-left: 77px;
  display: inline-flex;
  margin-bottom: 18px;
}
.position {
  margin-top: 40px;
  margin-left: 77px;
}

.color {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: 500;
}

.header {
  color: #4f4f4f;
  font-size: 26px;
  font-weight: 400;
  margin-left: 77px;
}

.btnNoob {
  background-color: #43d190;
  width: 345px;
  height: 44px;
  color: white;
  border-radius: 5px;
  border: #43d190;
  font-size: 18px;
  margin-right: 30px;
}
.btnNoob:hover {
  background-image: linear-gradient(#e9d078 3.75%, #6d6b6c 94.69%);
  color: #e2f0e9;
  border: 2px solid #43d190;
}

.btnBasic {
  composes: btnNoob;
  background-image: linear-gradient(#2eebda 3.75%, #7cf7a3 94.69%);
}

.btnStandart {
  composes: btnNoob;
  background-image: linear-gradient(#f8c102 3.75%, #fe6083 94.69%);
}

.btnPremium {
  composes: btnNoob;
  background-image: linear-gradient(#fe6083 3.75%, #b469fa 94.69%);
}

.btnUltra {
  composes: btnNoob;
  background-image: linear-gradient(#b469fa 3.75%, #655de6 94.69%);
}
