.boxFormPassword {
  margin-top: 20px;
}

.formProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.label {
  display: flex;
  align-items: center;
  position: relative;
}

.textLabel {
  display: block;
  text-align: start;
  width: 100px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
}

.input {
  width: 345px;
  padding: 10px 20px;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.notValidText {
  font-size: 12px;
  line-height: 1.12;
  color: #fe6083;
}

.validText {
  font-size: 12px;
  line-height: 1.12;
  color: #43d190;
}

.boxError {
  height: 30px;
  margin-left: 120px;
}

.error {
  font-size: 12px;
  line-height: 1.12;
  color: #fe6083;
  margin: 0;
}
.LoginPasswordBtn {
  position: absolute;
  right: 15px;
  top: 14px;
}
