.boxFormPassword {
  margin-top: 20px;
}

.formProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 30px; */
}

.label {
  display: flex;
  align-items: center;
  position: relative;
}

.textLabel {
  display: block;
  text-align: start;
  width: 100px;
  /* margin-right: 20px; */
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
}

.textLabelCard {
  display: block;
  text-align: start;
  margin-right: 20px;
  width: 130px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
}

.input {
  min-width: 270px;
  padding: 10px 20px;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.boxErrorValid {
  height: 30px;
  margin-left: 130px;
  width: 260px;
  padding-bottom: 2px;
  display: flex;
  align-items: flex-end;

  text-align: center;
}
.notValidText {
  font-size: 12px;
  line-height: 1.12;
  color: #fe6083;
}

.validText {
  font-size: 16px;
  line-height: 1.12;
  color: #43d190;
}

.boxError {
  height: 30px;
  margin-left: 130px;
  min-width: 270px;
  padding-bottom: 2px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: start;
}

.boxErrorCard {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 30px;
  padding-bottom: 2px;
  width: 250px;
  margin-left: 55px;
}

.error {
  font-size: 12px;
  line-height: 1.12;
  color: #fe6083;
  margin: 0;
}
.LoginPasswordBtn {
  position: absolute;
  right: 15px;
  top: 14px;
}
