.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 35px;
}

.wrapper {
  width: 66.12%;
  margin-bottom: 20px;
}

.title {
  display: flex;
  margin: 0 0 20px 0;
  padding: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
}

.habitsList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
