.boxListAvatars {
  padding: 60px;
  background-color: #f6f6f6;
}

.listAvatars {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: -15px;
  width: 720px;
}

.itemAvatars {
  margin: 15px;
  width: calc((100% - 30px * 4) / 4);
}
