.container {
  background: #f6f6f6;
  /* max-height: 800px; */
  overflow-y: auto;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 62px;
  background: #ffffff;
  border: 1px solid #d5e1dc;
}

.header {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;

  color: #4f4f4f;
}

.list {
  list-style: none;
  margin: 0;
  padding: 62px;
}

.item {
  position: relative;
  /* margin: 30px auto; */
  padding: 20px 30px;
  width: 720px;
  background: #ffffff;
  /* #EFEEFE */
  box-shadow: 0px 2px 8px #efeefe;
  border-radius: 10px;
  border-left-style: solid;
  border-left-width: 8px;
}

.item:not(:last-child) {
  margin-bottom: 30px;
}
