.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0 0;
}

.name {
  text-decoration: none;
  min-width: 252px;
  height: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  text-transform: capitalize;
  color: #4f4f4f;
  margin-bottom: 10px;
}

.link {
  margin-bottom: 20px;
}

.linkSub {
  text-decoration: none;
  margin: 0 0 5px 0;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 108px;
  height: auto;
}

.typeSubscription {
  padding: 2px 8px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  background: linear-gradient(222.27deg, #2eebda 3.75%, #7cf7a3 94.69%);
  border-radius: 5px;
}

.button {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: linear-gradient(222.27deg, #2eebda 3.75%, #7cf7a3 94.69%);
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  align-self: center;
  cursor: pointer;
}
