.enter {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 250ms linear;
}

.enterActive {
  opacity: 1;
  transform: translateY(0);
}
.exit {
  opacity: 1;
  transform: translateY(0);
  transition: all 250ms linear;
}

.exitActive {
  opacity: 0;
  transform: translateY(-100%);
}
