.backdrop {
  background-color: #f6f6f6;
  width: 1035px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 101;
}

.enter {
  transform: translateX(100%);
}

.enterActive {
  transform: translateX(0%);
  transition: transform 250ms linear;
}

.exit {
  transform: translateX(0%);
}
.exitActive {
  transform: translateX(100%);
  transition: transform 250ms linear;
}
.overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  pointer-events: all;
}

.RegistrationLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 90px;
}

.RegistrationLogoSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background: linear-gradient(222.27deg, #2eebda 3.75%, #7cf7a3 94.69%);
  margin-right: 5px;
}

.RegistrationLogoPng svg {
  display: block;
}

.RegistrationHi {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #4f4f4f;
}

.RegistrationTxt {
  width: 405px;
  margin: 0 auto;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #4f4f4f;
  padding-bottom: 30px;
}

.RegistrationForm {
  width: 450px;
  margin: 0 auto;
}

.RegistrationInput {
  width: 345px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.RegistrationInputForm {
  display: flex;
  justify-content: space-around;
}

.RegistrationPassword {
  position: relative;
}

.RegistrationPasswordBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
}

.RegistrationInputTxt {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  width: 70px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #4f4f4f;
}

.RegistrationButton {
  cursor: pointer;
  margin: 20px auto 0 auto;
  width: 220px;
  height: 44px;
  background: #43d190;
  border-radius: 5px;
  border: #43d190 2px solid;
}

.RegistrationButtonTxt {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.RegistrationButton:hover {
  background-color: #ffffff;
}

.RegistrationButton:hover .RegistrationButtonTxt {
  color: #43d190;
}

.RegistrationButtonBlock {
  display: flex;
  justify-content: center;
}

.errorMessage {
  position: absolute;
  top: 46px;
  left: 130px;
  font-size: 9px;
  font-weight: 400;
  color: #fe6083;
}

.boxError {
  height: 15px;
  margin-left: 100px;
  text-align: start;
}
.boxErrorPass {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 30px;
  padding-bottom: 2px;
  margin-left: 100px;
  text-align: start;
}
.error {
  font-size: 12px;
  line-height: 1.12;
  color: #fe6083;
  margin: 0;
}

.boxErrorMessage {
  width: 400px;
  margin-left: 50px;
}

.btnError {
  display: inline;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.12;
  color: #bdbdbd;
  background-color: transparent;
  border: none;
  margin-right: 30px;
}
.btnError:hover {
  color: #43d190;
}
