.box {
  opacity: 1;
  padding-top: 20px;
  padding-right: 18px;
  padding-left: 18px;
  background: #ffffff;
  -webkit-box-shadow: 20px 10px 30px -5px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 20px 10px 30px -5px rgba(0, 0, 0, 0.73);
  box-shadow: 20px 10px 30px -5px rgba(0, 0, 0, 0.73);
  border-radius: 10px;
  padding-bottom: 18px;
  cursor: pointer;
  color: #4f4f4f;
}

.container {
  margin-top: 60px;
  margin-left: 62px;
  margin-right: 62px;
  /* background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%); */
  /* width: 844px; */
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
