body {
  /* background-color: rgb(185, 185, 185); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400; /* IE9 Compat Modes */
  src:/* IE6-IE8 */ url('./fonts/rubik-v10-latin_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/rubik-v10-latin_cyrillic-regular.woff') format('woff');
  /* Modern Browsers */
}
/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500; /* IE9 Compat Modes */
  src: /* IE6-IE8 */ url('./fonts/rubik-v10-latin_cyrillic-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/rubik-v10-latin_cyrillic-500.woff')
      format('woff');
}

/* a {
  text-decoration: none;
  color: rgba(139, 0, 0, 1);
  font-size: 20px;

  font-weight: bold;

  border-radius: 5px;
}

a:hover {
  color: brown;
  background-color: burlywood;
} */

button {
  display: inline-block;
}

h1,
h2 {
  text-align: center;
}
