p {
  margin: 0;
}

ul {
  list-style: none;
}
.background {
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.titel {
  color: #4f4f4f;
  font-size: 26px;
  font-weight: 400;
  margin-left: 77px;
}

.card {
  background-color: #655de6;
  width: 344px;
  height: 200px;
  border-radius: 10px;
  margin-left: 77px;
  margin-bottom: 30px;
}

.cardText {
  color: rgb(218, 188, 188);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 21px;
  padding-top: 20px;
}

.cardNumb {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: rgb(182, 162, 162);
  margin-bottom: 59px;
  margin-left: 21px;
  letter-spacing: 1px;
}
.cardDate {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: rgb(179, 163, 163);
  margin-left: 21px;
  padding-bottom: 22px;
  margin-bottom: 0;
  margin-right: 130px;
}
.numbSpace {
  margin-right: 10px;
}

.block {
  display: inline-block;
}

.cardDelete {
  display: flex;
}

.buttons {
  margin-left: 77px;
  margin-right: 15px;
}

.supportIcon {
  border-radius: 10px;

  width: 594px;
  height: 150px;
  margin-top: 60px;
  margin-left: 77px;
  display: flex;
}

.iconStyle {
  width: 238px;
  background-color: #43d190;
  border-radius: 10px 0px 0px 10px;
}

.support {
  display: block;
  padding-top: 20px;
  padding-left: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #4f4f4f;
  background-color: #fff;
  height: 150px;
  border-radius: 0px 10px 10px 0px;
}

.email {
  display: block;
  margin-top: 10px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #4f4f4f;
}
.fly {
  display: block;
}
.cardList {
  display: flex;
}
/* 
.swiper {
  max-width: 600px;
} */
